.sectionContainer {
  display: block;
  padding-top: 200px;
}

.sectionContainer:last-of-type {
  padding-bottom: 250px;
}

.sectionContainer:first-of-type {
  display: block;
  padding-top: 300px;
  margin-top: -100px;
}

.sectionInfoboxContainer {
  width: 100%;
  display: flex;
}

.sectionInfobox {
  display: flex;
  align-items: flex-start;
}

.sectionMarkerLeft {
  display: inline-block;
  height: 100px;
  width: 30px;
  margin-right: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sectionMarkerRight {
  display: inline-block;
  height: 100px;
  width: 30px;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sectionText {
  display: inline-block;
}

.sectionTitle {
  font-size: 35px;
  font-family: "Garnett Medium";
  font-weight: 100;
  margin: 0;
  padding-right: 40%;
  padding-top: 10px;
}

.sectionDescription {
  font-size: 18px;
  line-height: 20px;
  padding-right: 40%;
}

.section-cat_01,
.section-cat_02,
.section-cat_03,
.section-cat_04 {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.section-cat_01 .sectionInfobox h3,
.section-cat_02 .sectionInfobox h3,
.section-cat_03 .sectionInfobox h3,
.section-cat_04 .sectionInfobox h3
{
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding-right: 0%;
  padding-left: 40%;
}

.section-cat_01 .sectionInfobox p,
.section-cat_02 .sectionInfobox p,
.section-cat_03 .sectionInfobox p,
.section-cat_04 .sectionInfobox p
{
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding-right: 0%;
  padding-left: 40%;
}

.section-cat_01 .sectionMarkerLeft,
.section-cat_02 .sectionMarkerLeft,
.section-cat_03 .sectionMarkerLeft,
.section-cat_04 .sectionMarkerLeft {
  display: none;
}

.section-cat_05 .sectionMarkerRight,
.section-cat_06 .sectionMarkerRight,
.section-cat_07 .sectionMarkerRight,
.section-cat_08 .sectionMarkerRight {
  display: none;
}

.section-cat_01 .sectionMarkerRight {
width: 100px !important;
width: 80px !important;
}

.section-cat_02 .sectionMarkerRight {
  width: 150px !important;
  width: 80px !important;
}

.section-cat_03 .sectionMarkerRight {
  width: 200px !important;
  width: 80px !important;
}

.section-cat_04 .sectionMarkerRight {
  width: 40px !important;
  width: 80px !important;
}

.section-cat_05 .sectionMarkerLeft {
  width: 80px !important;
}

.section-cat_06 .sectionMarkerLeft {
  width: 30px !important;
  width: 80px !important;
}

.section-cat_07 .sectionMarkerLeft {
  width: 200px !important;
  width: 80px !important;
}

.section-cat_08 .sectionMarkerLeft {
  width: 200px !important;
  width: 80px !important;
}


.background8 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 16), #D8D8D8 calc((100% / 16) + 1px), transparent calc((100% / 16) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 3) - 1px), #D8D8D8 calc(100% / 16 * 3), transparent calc(100% / 16 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 5) - 1px), #D8D8D8 calc(100% /  16 * 5), transparent calc(100% /  16 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 7) - 1px), #D8D8D8 calc(100% / 16 * 7), transparent calc(100% / 16 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 9) - 1px), #D8D8D8 calc(100% / 16 * 9), transparent calc(100% / 16 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 11) - 1px), #D8D8D8 calc(100% /  16 * 11), transparent calc(100% /  16 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 13) - 1px), #D8D8D8 calc(100% / 16 * 13), transparent calc(100% / 16 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 16 * 15) - 1px), #D8D8D8 calc(100% / 16 * 15), transparent calc(100% / 16 * 15));

}

.background7 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 14), #D8D8D8 calc((100% / 14) + 1px), transparent calc((100% / 14) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 3) - 1px), #D8D8D8 calc(100% / 14 * 3), transparent calc(100% / 14 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 5) - 1px), #D8D8D8 calc(100% /  14 * 5), transparent calc(100% /  14 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 7) - 1px), #D8D8D8 calc(100% / 14 * 7), transparent calc(100% / 14 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 9) - 1px), #D8D8D8 calc(100% / 14 * 9), transparent calc(100% / 14 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 11) - 1px), #D8D8D8 calc(100% /  14 * 11), transparent calc(100% /  14 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 13) - 1px), #D8D8D8 calc(100% / 14 * 13), transparent calc(100% / 14 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 14 * 15) - 1px), #D8D8D8 calc(100% / 14 * 15), transparent calc(100% / 14 * 15));
}

.background6 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 12), #D8D8D8 calc((100% / 12) + 1px), transparent calc((100% / 12) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 3) - 1px), #D8D8D8 calc(100% / 12 * 3), transparent calc(100% / 12 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 5) - 1px), #D8D8D8 calc(100% /  12 * 5), transparent calc(100% /  12 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 7) - 1px), #D8D8D8 calc(100% / 12 * 7), transparent calc(100% / 12 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 9) - 1px), #D8D8D8 calc(100% / 12 * 9), transparent calc(100% / 12 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 11) - 1px), #D8D8D8 calc(100% /  12 * 11), transparent calc(100% /  12 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 13) - 1px), #D8D8D8 calc(100% / 12 * 13), transparent calc(100% / 12 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 15) - 1px), #D8D8D8 calc(100% / 12 * 15), transparent calc(100% / 12 * 15));

}

.background5 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 10), #D8D8D8 calc((100% / 10) + 1px), transparent calc((100% / 10) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 3) - 1px), #D8D8D8 calc(100% / 10 * 3), transparent calc(100% / 10 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 5) - 1px), #D8D8D8 calc(100% /  10 * 5), transparent calc(100% /  10 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 7) - 1px), #D8D8D8 calc(100% / 10 * 7), transparent calc(100% / 10 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 9) - 1px), #D8D8D8 calc(100% / 10 * 9), transparent calc(100% / 10 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 11) - 1px), #D8D8D8 calc(100% /  10 * 11), transparent calc(100% /  10 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 13) - 1px), #D8D8D8 calc(100% / 10 * 13), transparent calc(100% / 10 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 10 * 15) - 1px), #D8D8D8 calc(100% / 10 * 15), transparent calc(100% / 10 * 15));

}

.background4 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 8), #D8D8D8 calc((100% / 8) + 1px), transparent calc((100% / 8) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 3) - 1px), #D8D8D8 calc(100% / 8 * 3), transparent calc(100% / 8 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 5) - 1px), #D8D8D8 calc(100% /  8 * 5), transparent calc(100% /  8 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 7) - 1px), #D8D8D8 calc(100% / 8 * 7), transparent calc(100% / 8 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 9) - 1px), #D8D8D8 calc(100% / 8 * 9), transparent calc(100% / 8 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 11) - 1px), #D8D8D8 calc(100% /  8 * 11), transparent calc(100% /  8 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 13) - 1px), #D8D8D8 calc(100% / 8 * 13), transparent calc(100% / 8 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 8 * 15) - 1px), #D8D8D8 calc(100% / 8 * 15), transparent calc(100% / 8 * 15));

}

.background3 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 6), #D8D8D8 calc((100% / 6) + 1px), transparent calc((100% / 6) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 3) - 1px), #D8D8D8 calc(100% / 6 * 3), transparent calc(100% / 6 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 5) - 1px), #D8D8D8 calc(100% /  6 * 5), transparent calc(100% /  6 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 7) - 1px), #D8D8D8 calc(100% / 6 * 7), transparent calc(100% / 6 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 9) - 1px), #D8D8D8 calc(100% / 6 * 9), transparent calc(100% / 6 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 11) - 1px), #D8D8D8 calc(100% /  6 * 11), transparent calc(100% /  6 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 13) - 1px), #D8D8D8 calc(100% / 6 * 13), transparent calc(100% / 6 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 6 * 15) - 1px), #D8D8D8 calc(100% / 6 * 15), transparent calc(100% / 6 * 15));

}

.background2 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 4), #D8D8D8 calc((100% / 4) + 1px), transparent calc((100% / 4) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 3) - 1px), #D8D8D8 calc(100% / 4 * 3), transparent calc(100% / 4 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 5) - 1px), #D8D8D8 calc(100% /  4 * 5), transparent calc(100% /  4 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 7) - 1px), #D8D8D8 calc(100% / 4 * 7), transparent calc(100% / 4 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 9) - 1px), #D8D8D8 calc(100% / 4 * 9), transparent calc(100% / 4 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 11) - 1px), #D8D8D8 calc(100% /  4 * 11), transparent calc(100% /  4 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 13) - 1px), #D8D8D8 calc(100% / 4 * 13), transparent calc(100% / 4 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 4 * 15) - 1px), #D8D8D8 calc(100% / 4 * 15), transparent calc(100% / 4 * 15));

}

.background1 {
  background-image: 
  linear-gradient(90deg, transparent, transparent calc(100% / 2), #D8D8D8 calc((100% / 2) + 1px), transparent calc((100% / 2) + 1px)), 
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 3) - 1px), #D8D8D8 calc(100% / 2 * 3), transparent calc(100% / 2 * 3)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 5) - 1px), #D8D8D8 calc(100% /  2 * 5), transparent calc(100% /  2 * 5)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 7) - 1px), #D8D8D8 calc(100% / 2 * 7), transparent calc(100% / 2 * 7)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 9) - 1px), #D8D8D8 calc(100% / 2 * 9), transparent calc(100% / 2 * 9)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 11) - 1px), #D8D8D8 calc(100% /  2 * 11), transparent calc(100% /  2 * 11)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 13) - 1px), #D8D8D8 calc(100% / 2 * 13), transparent calc(100% / 2 * 13)),
  linear-gradient(90deg, transparent, transparent calc((100% / 2 * 15) - 1px), #D8D8D8 calc(100% / 2 * 15), transparent calc(100% / 2 * 15));

}