.feedIntro {
  padding-left: calc(((100% / 16 * 1) + 5px));
  overflow: hidden;
  padding-top: 160px;
  margin-bottom: 100px;
}

.introContainer {
  margin: 0px;
}

.feedIntro h3 {
  width: 70%;
  font-size: 65px;
  font-family: "Garnett Medium";
  font-weight: 100;
  margin: 0;
}

.feedIntro h4 {
  font-size: 25px;
    font-family: "Garnett Medium";
    font-weight: 100;
    margin: 0;
}

.feedIntro p {
  width: 70%;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}

.visibilityHook {
  opacity: 0;
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  margin: 0px;
  width: 100%;
}

.introButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 10px 14px 10px 14px;
    border: 0.4px solid rgb(71, 71, 71);
    border-radius: 3px;
    transition: all 1s ease;
    display: block;
    margin-bottom: 30px;
}

.introButton:hover {

  overflow: hidden;
  border-radius: 30px;
  background-color: #f4edec;
  border-color: transparent;
  box-shadow: 0px 0px 10px -5px black;
  box-shadow: 0 4px 12px 0 rgba(12,18,45,.1);
  color: black !important;
  border-color: transparent  !important;
}
