.clipContainer {
  display: block;
  padding: 5px;
  padding: 20%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.clip {
  box-shadow: 0px 0px 50px -18px black;
  display:inline-block; 
  padding: 10px;
  border-radius: 6px;
  background-color: #f4edec;
}

.clip:hover {
  box-shadow: 0px 0px 50px -16px black;
}

.clip p {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
}

.clip input {
  all: unset;
  display:inline-block; 
  margin: 0px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
  border: 0px;
  background-color: #f4edec;
  border-style:solid;
}

.clip input, textarea{
  color: black;
}

.clip input, select, textarea{
  color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: black;
  font-family: "Helvetica Light";
}


.clip button {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.6px solid black;
  padding: 3px 5px 3px 5px;
  background-color: #f4edec;
  font-size: 0.8em;
  position: relative;
  font-family: "Helvetica Light";
  vertical-align:middle;
}

.dot {
  margin: 0px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
  margin-right: 20px;
}