.sectionClipContainer {
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.sectionClip {
  box-shadow: 0px 0px 50px -18px black;
  display:inline-block; 
  padding: 10px;
  border-radius: 6px;
  background-color: #f4edec;
}

.sectionClip:hover {
  box-shadow: 0px 0px 50px -16px black;
}

.sectionClip p {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
}

.sectionClip textarea {
  all: unset;
  display:inline-block; 
  margin: 0px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
  border: 0px;
  background-color: #f4edec;
  border-style:solid;
  height: 27px;
}

.sectionClip input, textarea{
  color: black;
}

.sectionClip input, select, textarea{
  color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: black;
  font-family: "Helvetica Light";
}


.sectionClip button {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.6px solid black;
  padding: 3px 5px 3px 5px;
  background-color: #f4edec;
  font-size: 0.8em;
  position: relative;
  font-family: "Helvetica Light";
  vertical-align:middle;
}

.dot {
  margin: 0px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
  margin-right: 20px;
}

.end_dot {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  display: none;
}

.sectionclip-cat_01 {
  padding-left: calc(((100% / 16 * 1) - 22px));
}

.sectionclip-cat_02 {
  padding-left: calc(((100% / 16 * 3) - 22px));
}

.sectionclip-cat_03 {
  padding-left: calc(((100% / 16 * 5) - 22px));
}

.sectionclip-cat_04 {
  padding-left: calc(((100% / 16 * 7) - 22px));
}

.sectionclip-cat_05 {
  padding-left: calc(((100% / 16 * 9) - 22px));
}

.sectionclip-cat_06 {
  padding-right: calc(((100% / 16 * 5) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.sectionclip-cat_07 {
  padding-right: calc(((100% / 16 * 3) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.sectionclip-cat_08 {
  padding-right: calc(((100% / 16 * 1) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.sectionclip-cat_06 .end_dot,
.sectionclip-cat_07 .end_dot,
.sectionclip-cat_08 .end_dot {
  display: inline-block;
}

.sectionclip-cat_06 .dot,
.sectionclip-cat_07 .dot,
.sectionclip-cat_08 .dot {
  display: none;
}

.sectionclip-cat_06 p,
.sectionclip-cat_07 p,
.sectionclip-cat_08 p {
  margin-left: 5px;
}