.filtersContainer {
  width: 100%;
  background-color: #f4edec;
  padding: 10px 20px 10px 0px;
  box-shadow: inset 1px 9px 10px -16px black;
  margin:0;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e8e3e3;
  justify-content: flex-start;
  align-items: center;
}


.filtersButtonContainer {
  margin-right: 0px;
  margin-left: 20px;
  position:relative;
  display:inline-block;
  cursor: default;
  padding: 10px 10px 10px 20px;
}


.filterButton {
  border: 0.1px solid transparent;
  background-color: transparent;
  transition: all 0.8s ease;
  color: black;
  border: 0.5px solid transparent;
  display: inline-block;
  cursor: pointer;
}

.filtersTypesContainer {
  padding-left: 40px;
  width: 100%;
}

.openIcon {
  display: inline-block;
  transition: all 1s ease;
  margin-left: 5px;
}

.filtersButtonContainer:hover .openIcon {
  transform: rotate(90deg) !important;
  color: transparent;
}

.closeIcon {
  display: inline-block;
  transition: all 1s ease;
  margin-left: 5px;
}

.filtersButtonContainer:hover .closeIcon {
  transform: scale(0.2) !important;
  color: transparent;
}

.slider {
  display:block;
  left: 0;
  top:98%;
  margin-top:3px ;
  height: 0.6px;
  background-color: #000;
  width: 0%;
  transition: width 0.5s ease;
  cursor: pointer;
}

.filtersButtonContainer:hover .slider {
  width: 100%;
}