.filtersContainer {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: -0.5px;
  background-color: #f4edec;
  padding: 10px 20px 10px 0px;
  box-shadow: inset 1px 9px 10px -16px black;
  margin:0;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e8e3e3;
  transition: all 1s linear;
  justify-content: flex-start;
  align-items: center;
  
  /* height: 70px; */
  animation: height 1s linear;
}