.resultLine {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 30px 12px 10px;
  font-size: 0.8em;
  cursor: default;
  border-bottom: 1px solid #e8e3e3;
  /*cursor:url('../../../assets/svg/customcursor.jpg'), auto;*/
}

.resultNum {
  display: inline-flex;
  align-items: center;
  width: 4%;
  justify-content: left;
  padding-left: 10px;

}

.resultLabel {
  display: inline-flex;
  align-items: center;
  width: 30%;
  font-weight: 400;
}

.resultCat {
  display: inline-flex;
  align-items: center;
  width: 10%;
  text-transform: capitalize;
}

.resultRel {
  display: inline-flex;
  align-items: center;
  width: 50%;
  text-transform: capitalize;
}

.resultActions {
  display: inline-flex;
  align-items: center;
  width: 10%;
  font-size: 0.8em;
  justify-content: flex-end;
}

.resultActions button {
  background-color: #f4edec;
  border: 0.2px solid grey;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.categoryResult {
  padding: 7px 14px 7px 14px;
  border: 0.4px solid black;
  border-radius: 20px;
}
