.resultContainer {
  width: 100%;
  box-shadow: inset 0px 0px 19px -16px black;
  height: 500px;
  background-color: #f4edec;
  scrollbar-width: none;
}

.resultContainer::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}