
.resheader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 30px 12px 10px;
  font-size: 0.75em;
  cursor: default;
  color: grey;
  border-bottom: 1px solid #e8e3e3;
  background-color: #f4edec;
}

.headerNum {
  display: inline-flex;
  align-items: center;
  width: 4%;
  justify-content: left;
  padding-left: 10px;
}

.headerLab {
  display: inline-flex;
  align-items: center;
  width: 30%;
  font-weight: 400;
}

.headerCat {
  display: inline-flex;
  align-items: center;
  width: 10%;
  text-transform: capitalize;
}

.headerRel {
  display: inline-flex;
  align-items: center;
  width: 60%;
}

.headerAct {
  display: inline-flex;
  align-items: center;
  width: 10%;
  font-size: 0.8em;
  justify-content: flex-end;
}

.headerCatBorder {
  padding: 7px 14px 7px 14px;
  border: 0.4px solid grey;
  border-radius: 3px;
}

.stickyHeader {
  display: flex;
  flex-wrap: wrap;
}