.resultLine {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 30px 12px 10px;
  font-size: 0.8em;
  cursor: default;
  border-top: 0.5px solid #e8e3e3;
  border-bottom: 0.5px solid #e8e3e3;
  box-shadow: 1px 1px 16px -5px transparent;
  z-index: 10;
  /*cursor:url('../../../assets/svg/customcursor.jpg'), auto;*/
}

.resultLine:hover {
  /* Do something */

}

.resultNum {
  display: inline-flex;
  align-items: center;
  width: 4%;
  justify-content: left;
  padding-left: 10px;

}

.resultLabel {
  display: inline-flex;
  align-items: center;
  width: 30%;
  font-weight: 400;
}

.resultCat {
  display: inline-flex;
  align-items: center;
  width: 10%;
  text-transform: capitalize;
}

.resultRel {
  display: inline-flex;
  align-items: center;
  width: 60%;
  text-transform: capitalize;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

.listOfRelations {
  max-width: 50%;
  overflow: scroll;
}

.resultActions {
  display: inline-flex;
  align-items: center;
  width: 10%;
  font-size: 0.8em;
  justify-content: flex-end;
}

.resultActions button {
  background-color: #f4edec;
  border: 0.2px solid grey;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s ease;
}


.resultActions button:hover {
  transform: scale(1.5);
}

.categoryResult {
  padding: 7px 14px 7px 14px;
  border: 0.4px solid rgb(71, 71, 71);
  border-radius: 3px;
}
