.barchartContainer {
    width: 10%;
    display: flex;
    justify-content: right;
    border-bottom:1px solid #e8e3e3;
    align-items: flex-start;
    position: relative;
}

.barchartContainer div {
    font-size: 0.6em;
}

.barchartBox {
    margin-top: 25px;
    max-width: 60%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 1s ease;
    position: absolute;
    margin-right: 30px;
    cursor: none;
}

.barchartBox:hover {
    
}

.barchartText {
    width: 200%;
    text-align: right;
    top: 42px;
    position: absolute;
    margin-right: 30px;
    display: none;
    text-transform: capitalize;
    padding-top: 5px;
}

.barLine {
    height: 100%;
    display:inline-flex;
    align-items: flex-end;
    border-radius: 30px;
    padding-bottom:4px;
}

.barLineRight {
    height: 100%;
    width: 4px;
    background-color: transparent;
    display:inline-flex;
    transition: all 1s ease;
    border-right: 1px solid black;
}

.barLineLeft {
    height: 100%;
    width: 3px;
    background-color: transparent;
    display:inline-flex;
    transition: all 1s ease;  
}

.barLine:hover { 
    background-color: rgb(227, 225, 225);
}

.barLine:hover .barchartText{ 
    background-color: red;
}

.datasource {
    font-size: 1em;
}