.footerContainer {
  width: 100%;
  background-color:black;
}

.footerMainBlock{
  background-color:black;
  background-color: #0f0f0f;
}

.visibilityHook {
  opacity: 0;
  -moz-opacity: 0; /* Firefox and Mozilla browsers */
  -webkit-opacity: 0; /* WebKit browser e.g. Safari */
  margin: 0px;
  width: 100%;
  height: 0%;
  background-color: transparent;
  background-color:black;
  background-color: #0f0f0f;
  color: transparent;
}

.flexBox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: default;
  font-family: "Helvetica Light";
  border-top: 0.4px solid rgb(71, 71, 71);
  padding-top: 50px;
}

.flexZero {
  color: #f4edec;
}

.flexOne {
  color: #f4edec;
}

.flexTwo {
  color: #f4edec;
}

.flexThree {
  color: #f4edec;
}
.flexFour {
  color: #f4edec;
}

.flexOne a,
.flexTwo a,
.flexThree a,
.flexFour a {
  padding: 10px 19px 10px 19px;
  border: 0.4px solid rgb(71, 71, 71);
  border-radius: 3px;
  transition: all 1s ease;
  margin: 6px;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 0.8em; 
  text-decoration: none;
  outline: 0;
  display: block;
  cursor: pointer !important;
}

.flexZero a {
  padding: 10px 19px 10px 19px;
  border: 0.4px solid rgb(71, 71, 71);
  border-radius: 3px;
  transition: all 1s ease;
  margin: 6px;
  font-size: 0.8em; 
  text-decoration: none;
  outline: 0;
  display: block;
  cursor: pointer !important;
}

.flexOne p,
.flexTwo p,
.flexThree p,
.flexFour p {
  padding: 10px 19px 10px 19px;
  border: 0.4px solid rgb(71, 71, 71);
  border-radius: 3px;
  transition: all 1s ease;
  margin: 6px;
  text-transform: lowercase;
  font-size: 0.8em; 
  cursor: default;
}

.flexZero p {
  padding: 10px 19px 10px 19px;
  border: 0.4px solid rgb(71, 71, 71);
  border-radius: 3px;
  transition: all 1s ease;
  margin: 6px;
  font-size: 0.8em; 
  cursor: default;
}

.flexOne a:hover,
.flexTwo a:hover,
.flexThree a:hover,
.flexFour a:hover {
  background-color: #f4edec58;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.flexTitle {
  cursor: default;
  font-family: 'Helvetica Regular';
}

.footerTitle {
  width: 100%;
  width:50%;
  margin: 0;
  padding: 0;
  color: white;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 6%;
}

.footerTitle img {
  width: 200px;
}

.footerCloser {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 0.7em;
}


@media only screen and (max-width: 1000px) {
  .flexZero {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .flexZero {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}