
.clipBox {
  padding-bottom: 400px;
  padding-top: 40px;
  /* border: 1px solid green; */
}

.clipContainer {
  display: block;
  padding: 5px;
  /* border: 1px solid red; */
}

.clip {
  box-shadow: 0px 0px 50px -18px black;
  background-color: #f4edec;
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  cursor: default;
  transition: transform 1s ease;
  transform: scale(0.8);
  /* border: 1px solid blue; */
}

.clipexpanded {
  box-shadow: 0px 0px 50px -30px black;
  border-radius: 8px;
}

.clip:hover {
  transform: scale(1.06) !important;
  cursor: pointer;
}

.clip p {
  transition: font-size 2s ease;
}

.cliptitle {
  display: inline-block;
  margin: 0px;
  margin-left: 20px;
  line-height: 30px;
  font-size: 23px;
  position: relative;
  vertical-align: middle;
  max-width: 25ch;
  max-height: 30px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.expandedcliptitle {
  display: inline-block;
  margin: 0px;
  margin-left: 18px;
  min-height: 18px;
  position: relative;
  vertical-align: top;
  width: 28ch;
  line-height: 23px;
  font-size: 20px;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
  text-align: left;
}

.clip button {
  display: inline-block;
  margin: 0px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.6px solid black;
  padding: 3px 5px 3px 5px;
  background-color: #f4edec;
  font-size: 0.8em;
  position: relative;
  font-family: "Helvetica Light";
  vertical-align: middle;
}

.dot {
  margin: 0px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}


.end_dot {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  display: none;
}
.ellipsisalert {
  font-size: 14px;
  position: relative;
  font-family: "Helvetica Light";
  color: grey;
  width: 100%;
  padding-left: 10px;
}

.hiddenalert {
  display: none;
}

.section-cat_01 {
  padding-left: calc(((100% / 16 * 1) - 22px));
}

.section-cat_02 {
  padding-left: calc(((100% / 16 * 3) - 22px));
}

.section-cat_03 {
  padding-left: calc(((100% / 16 * 5) - 22px));
}

.section-cat_04 {
  padding-left: calc(((100% / 16 * 7) - 22px));
}

.section-cat_05 {
  padding-left: calc(((100% / 16 * 9) - 22px));
}

.section-cat_06 {
  padding-right: calc(((100% / 16 * 5) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.section-cat_07 {
  padding-right: calc(((100% / 16 * 3) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.section-cat_08 {
  padding-right: calc(((100% / 16 * 1) - 22px));
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.section-cat_06 .end_dot,
.section-cat_07 .end_dot,
.section-cat_08 .end_dot {
  display: inline-block;
}

.section-cat_06 .dot,
.section-cat_07 .dot,
.section-cat_08 .dot {
  display: none;
}

.section-cat_06 p,
.section-cat_07 p,
.section-cat_08 p {
  margin-left: 5px;
}

.visibilityHook {
  opacity: 0;
  padding-bottom: 10px;
  width: 100%;
}