.clipContainer {
  display: block;
  padding: 5px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.clip {
  box-shadow: 0px 0px 50px -18px black;
  background-color: #f4edec;
  display:inline-block; 
  padding: 10px;
  border-radius: 6px;
  cursor: default;
  transition: transform .2s; /* Animation */

}


.clip:hover {
  transform: scale(1.08); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}

.clip p {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
}

.clip button {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.6px solid black;
  padding: 3px 5px 3px 5px;
  background-color: #f4edec;
  font-size: 0.8em;
  position: relative;
  font-family: "Helvetica Light";
  vertical-align:middle;
}

.dot {
  margin: 0px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}