.clipContainer {
  display: block;
  padding: 5px;
  padding-bottom: 40vh;
  padding-top: 0vh;
}

.clip {
  box-shadow: 0px 0px 50px -18px black;
  background-color: #f4edec;
  display:inline-block; 
  padding: 10px;
  border-radius: 6px;
  cursor: default;
  transition: transform .2s; /* Animation */
}


.clip:hover {
  transform: scale(1.08); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}

.clip p {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  font-size: 1.5em;
  position: relative;
  vertical-align:middle;
}

.clip button {
  display:inline-block; 
  margin: 0px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.6px solid black;
  padding: 3px 5px 3px 5px;
  background-color: #f4edec;
  font-size: 0.8em;
  position: relative;
  font-family: "Helvetica Light";
  vertical-align:middle;
}

.dot {
  margin: 0px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
}

.end_dot {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align:middle;
  display: none;
}

.section-cat_01 {
  padding-left: calc(((100% / 16 * 1) - 22px));
}

.section-cat_02 {
  padding-left: calc(((100% / 16 * 3) - 22px));
}

.section-cat_03 {
  padding-left: calc(((100% / 16 * 5) - 22px));
}

.section-cat_04 {
  padding-left: calc(((100% / 16 * 7) - 22px));
}

.section-cat_05 {
  padding-left: calc(((100% / 16 * 9) - 22px));
}

.section-cat_06 {
  padding-right: calc(((100% / 16 * 5) - 22px));
  display: flex;
  justify-content: flex-end;
}

.section-cat_07 {
  padding-right: calc(((100% / 16 * 3) - 22px));
  display: flex;
  justify-content: flex-end;
}

.section-cat_08 {
  padding-right: calc(((100% / 16 * 1) - 22px));
  display: flex;
  justify-content: flex-end;
}

.section-cat_06 .end_dot,
.section-cat_07 .end_dot,
.section-cat_08 .end_dot
{
  display: inline-block;
}

.section-cat_06 .dot,
.section-cat_07 .dot,
.section-cat_08 .dot
{
  display: none;
}

.section-cat_06 p,
.section-cat_07 p,
.section-cat_08 p
{
  margin-left: 5px;
}