@font-face {
  font-family: "Helvetica Light";
  src: local("Helvetica Light"),
   url("./fonts/HelveticaLight.woff") format("truetype");
  }

* {
  box-sizing: border-box;
}

body {
  font-family:"Helvetica Light";
  margin: 0;
  background-color: #f4edec;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
