.carouselContainer {
  margin-top: 20px;
  padding-bottom: 200px;
  padding-right: 20px;
  padding-left: 20px;
  height: 10vh;
}

.carousel {
  margin: 0px;
  padding: 10px;
  overflow: visible;
  z-index: 10;
}
.carousel_card {
  border: 1px solid #f4edec;
  background-color: #f4edec;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px 0 rgba(12,18,45,.1);;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: visible;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;

}

.cardfigure {
width: 50px;
}

.cardcontent {

}

.carouselContainer #carousel-card1 {
  background-image: url("../../assets/png/cardFigure.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right 8px top 5px;
  border:1px solid red;
}

.cardexpand {
  display: none;
  text-transform: uppercase;
  font-size: 10px;
  margin: 0px;
  color: grey;
  width: 100%;
  text-align: left;
}

.carousel_card:hover {
  transform: scale(1.1);
  z-index: 30;
}

.cardclaim {
  text-transform: uppercase;
  font-size: 10px;
  margin: 0px;
  color: grey;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.cardtitle {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  color: black;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.carousel_card p .highlight {
  font-weight: bold;
  text-decoration: underline;
}


.leftChevronContainer {
  height: 100%;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5 ease;
  padding: 100px;
  padding-top: 70px;
  background:   linear-gradient(90deg, rgba(172,172,172,0.18953518907563027) 0%, rgba(244,237,236,0) 100%);
  overflow:visible;
}

.rightChevronContainer {
  height: 100%;
  opacity: 0;
  transform: translateX(-50px);
  padding: 100px;
  padding-top: 70px;
  background: linear-gradient(280deg, rgba(172,172,172,0.18953518907563027) 0%, rgba(244,237,236,0) 100%);
}

.leftChevronContainer:hover,
.rightChevronContainer:hover {
  opacity: 1;
}


.carouselContainer button {
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: white;
  border: 0.5px solid transparent;
  outline: 0;
  background-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.leftChevron {
  background-image: url("../../assets/png/carouselarrow.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right 8px top 5px;
  transform: scaleX(-1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
}

.rightChevron {
  background-image: url("../../assets/png/carouselarrow.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right 8px top 5px;
  backdrop-filter: blur(14.2px); /* blur glass effect*/
  -webkit-backdrop-filter: blur(14.2px);
}
