
.carousel_card {
  border: 1px solid #f4edec;
  background-color: #f4edec;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px 0 rgba(12,18,45,.1);;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: visible;
  z-index: 10;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.carousel_card:hover   .cardtitle {
  color: black;
}

.carousel_card:hover   .cardclaim {
  color: black;
}


.cardfigure {
width: 50px;
}

.carouselContainer #carousel-card1 {
  background-image: url("../../assets/png/cardFigure.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right 8px top 5px;
  border:1px solid red;
}

.cardexpand {
  font-size: 14px;
  margin: 0px;
  color: black;
  width: 100%;
  text-align: left;
  margin-top: 2px;
  transition: all 1s ease;
}

.carousel_card:hover {
  transform: scale(1.1);
  z-index: 30;
}

.cardclaim {
  font-size: 12px;
  margin: 0px;
  width: 100%;
  text-align: left;
  color: grey;
  text-transform: uppercase;
  transition: all 1s ease;
}

.cardtitle {
  font-size: 20px;
  margin: 0px;
  color: rgb(97, 97, 97);
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  font-family: "Garnett Light Italic";
  font-family: "Helvetica Light";
  font-family: "Garnett Medium";
}

.cardtitle h4 {
  margin: 0px;
}

.carousel_card p .highlight {
  font-weight: bold;
  text-decoration: underline;
}

