.cardBlockContainer {
  display: block;
  width: 30%;
  background-color: #f4edec;
  margin-top:25px;
  font-size: 0.85em;
  margin-right: 25px;
  border-radius: 3px;
  transition: all 1s ease;
  cursor: default;
  padding: 0px 30px 30px 30px;
}

.cardBlockBox {
 /* box-shadow: 0px 0px 7px 0.3px #dfdad9; */
  border-radius: 3px;
  overflow: hidden;
  font-family: "Helvetica Light";
  margin-top: 10px;
}

.cardBlockContainer:hover {
}

.blockTitle {
  margin: 0;
}

.blockTitle span{
  font-size: 1.2em;
  color: rgb(40, 39, 39);
  font-family: 'Helvetica Regular';
}

.relationLi {
  font-size: 1.1em;
  font-weight:lighter;
  color: black;
  font-family: 'Helvetica Light';
  padding: 4px 0px 4px 0px;
  margin: 0;
  line-height: 1.2;
}

.cardBlockBox:hover .relationLi a{ 
  opacity: 0.6;
 }

 .relationLi a:hover{
  color: black;
  cursor: pointer;
  font-weight: 900;
  opacity: 2 !important;
}

.relationBlock {
  margin-bottom: 30px;
}
