.cardBlockContainer {
  display: block;
  width: 30%;
  background-color: #f4edec;
  margin-top:25px;
  font-size: 0.85em;
  margin-right: 25px;
  border-radius: 3px;
  transition: all 1s ease;
  cursor: default;
  padding: 0px 30px 30px 30px;
}

.cardBlockBox {
 /* box-shadow: 0px 0px 7px 0.3px #dfdad9; */
  border-radius: 3px;
  overflow: hidden;
  font-family: "Helvetica Light";
  margin: 0;
  padding-top: 10px;
}

.cardBlockContainer:hover {
}

.blockTitle {
  margin: 0;
}

.blockTitle span{
  font-size: 1.2em;
  color: rgb(40, 39, 39);
  font-family: 'Helvetica Regular';
}

.mockVis {
  display: block;
  width: 100%;
  height: 400px;
  background-color: rgb(141, 140, 140);
  border-radius: 5px;

}

.mockVis img {
  width: 100%;
}
